<html>
  <head>
    <title>visnu pitiyanuvath</title>
    <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/application.css"/>
    <link rel="icon" type="image/png" href="/favicon.ico"/>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
